[submodule "3rd_party/raylib"]
	path = 3rd_party/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "3rd_party/spdlog"]
	path = 3rd_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd_party/nlohmann_json"]
	path = 3rd_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
